/*  Header de mon service*/

body .head-mon-serv {
    margin-top: 0px;
    width: 100%;
    border-bottom-width: 0.1px;
    border-color: #00000013;
    border-bottom-style: solid;
}


/* width of scrol bar*/

/* ::-webkit-scrollbar {
    width: 7px;
} */


/* Track */

 /* ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 /* ::-webkit-scrollbar-thumb {
    background: #888;
}  */


/* Handle on hover */

 /* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

body .head-mon-serv .nav-container-mon-serv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 65px;
}

body .head-mon-serv .nav-container-mon-serv .logo-container {
    margin-left: -19%;
    padding: 0.5% 3%;
    align-items: center;
    border-color: #0000001e;
    border-right-style: solid;
    border-right-width: 0.1px;
}

body .head-mon-serv .nav-container-mon-serv .lg {
    cursor: pointer;
}

.navbar {
    display: flex;
    list-style-type: none;
    margin-right: -17%;
    justify-content: space-between;
}

.navbar .nav-el .link {
    text-decoration: none;
    color: #5F6593;
    transition: all 0.1s ease 0s;
    font-size: 13px;
    font-weight: bold;
    
}

.navbar .nav-el .link:hover {
    color: #0c48a1;
    cursor: pointer;
}

.navbar .nav-el .active {
    font-family: Open Sans, sans-serif;
    line-height: 1.6;
    color: #0c48a1;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #EE66D8;
    padding: 20px 0%;
}

.navbar1 {
    width: 33%;
    margin-left: -35%;
}

.navbar1 .nav-el {
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.navbar2 {
    justify-content: space-around;
    width: 25%;
    display: flex;
    text-align: center;
}

.navbar2 .nav-el2 .element {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.1s ease 0s;
}

.navbar2 .nav-el2 .element .bell {
    color: #1F234E;
    font-size: large;
    text-align: center;
    height: 20px;
    width: 20px;
    margin-top: 3px;
    cursor: pointer;
}

.navbar2 .nav-el2 .element .number {
    position: absolute;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-top: -5px;
    margin-right: -15px;
    width: 8px;
    height: 8px;
    background-color: #EE66D8;
    border-radius: 50%;
}

body .head-mon-serv .nav-container-mon-serv .navbar2 .nav-el2 .element .number:empty {
    display: none;
}

.nav-el3 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.nav-el3 .nom {
    display: flex;
    font-size: 13px;
    color: #5F6593;
    font-weight: bold;
    padding: 0px 15px;
}
.nom .icon {
    cursor: pointer;
}

.nav-el3 .elementP {
    display: flex;
    font-family: Open Sans, sans-serif;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    font-size: 11px;
    color: #1F234E;
    font-weight: bold;
}

.nav-el3 .elementP .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 10px;
}

.nav-container-mon-serv .resp-nav {
    list-style: none;
    justify-content: space-between
}

.nav-container-mon-serv .resp-nav .nav-el {
    border-top-style: solid;
    border-top-width: 0.1px;
    border-top-color: #00000049;
    padding: 3px 200px;
}

.nav-container-mon-serv .resp-nav .nav-el a {
    font-size: 13px;
    color: #5F6593;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    text-decoration: none;
}


/*fin header */


/* reaspensive menu*/

.responsivemenu {
    display: none;
}

body .head-mon-serv .resp {
    display: none;
}

.resp .resp-nav {
    list-style: none;
    text-decoration: none;
    margin: 0%;
    justify-content: left;
    width: 100%;
}

.resp .resp-nav .elemresp {
    padding: 4px 10px;
    margin-left: -5%;
    border-top-width: 0.1px;
    border-color: #00000007;
    border-top-style: solid;
}

.resp .resp-nav .elemresp:hover {
    background-color: #1f234e34;
}

.resp .resp-nav .elemresp .link {
    text-decoration: none;
    margin-left: 5%;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #5F6593;
    padding-left: 10px;
    cursor: pointer;
}

.resp .resp-nav .elemresp .active {
    color: #0c48a1;
    font-size: 14px;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #EE66D8;
    padding-left: 10px;
}


/* fin responsive menu*/


/* Menu notification*/

.notification-list {
    width: 100%;
    padding-top: 10px;
    background-color: #e9f3fa;
}

.not-tab {
    position: absolute;
    right: 19.5%;
    top: 6%;
    padding: 10px;
}

.not-tab::before {
    content: '';
    position: absolute;
    top: 3px;
    right: 5%;
    width: 20px;
    height: 20px;
    background-color: #e9f3fa;
    transform: rotate(45deg);
}

.not-tab .fermer {
    padding: 1px;
    font-size: small;
    width: 30px;
    text-align: center;
    align-items: center;
    top: 130px;
    left: 960px;
    cursor: pointer;
}

.not-tab .tete {
    color: #5F6593;
    background-color: #e9f3fa;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    border-bottom-color: #00000044;
    padding: 2px 15px;
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: space-between;
}

.not-tab .notification {
    color: #5F6593;
    text-decoration: none;
}

.not-tab .notification:hover {
    color: #0c48a1;
}

.notification-list .section {
    display: block;
    padding: 3px;
}

.notification-list .aucune {
    color: #5f6593c0;
    padding: 0px 20px;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 13px;
    padding-bottom: 30px;
}

.notification-list .section .profConttxt {
    font-size: 13px;
    display: flex;
    padding: 2px 25px;
    justify-content: flex-start;
    text-decoration: none;
    border-bottom-color: #00000063;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.notification-list .section .profConttxt:hover {
    color: #0c48a1;
    border-style: solid;
    border-width: 0.2px;
}

.notification-container .link-not {
    text-decoration: none;
}

.notification-container .row .notif-info {
    color: #1F234E;
    display: flex;
    align-items: center;
    margin-left: -20px;
}

.notification-container .row .notif-info .date {
    padding-left: 25px;
    font-size: 13px;
}

.notification-container .row .notif-info .icon {
    padding-right: 10px;
}

.notification-container .row .notif-info .txt {
    font-size: 13px;
    font-weight: bold;
}

.notification-container .row .notif-info .sub-txt {
    padding-left: 30px;
    font-size: 12px;
}


/* responsive*/

@media screen and (max-width: 920px) {
    .navbar {
        display: none;
    }
    .responsivemenu {
        display: flex;
        justify-content: flex-end;
        margin-right: -30%;
    }
    body .head-mon-serv .nav-container-mon-serv .logo-container {
        margin-left: -35%;
        padding: 0.5% 3%;
        align-items: center;
        border-color: #0000001e;
        border-right-style: solid;
        border-right-width: 0.1px;
    }
    body .partie-contain {
        height: 140vh;
    }
    body .head-mon-serv .resp {
        display: block;
    }
}


/* footer*/

.foot {
    left: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    background-color: #1F234E;
}

.foot .footer-container {
    display: flex;
    height: 60px;
    font-weight: bold;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
}

.foot .right-side {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 5%;
}

.foot .right-side p {
    cursor: pointer;
    font-size: 13px;
}

.foot .left-side {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5%;
}

.foot .left-side a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
    font-size: 13px;
}

.foot .left-side a:hover {
    color: white;
}


/* petite partie droite*/

.noyeau-marche {
    display: flex;
    width: 100%;
    height: 100%;
}

.partie-contain {
    padding: 0px 25px;
    width: 220px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #a3cae521;
    margin-left: -35px;
}

.partie-droite {
    font-family: Open Sans, sans-serif;
    margin-top: 50px;
    width: 100%;
    display: flex;
    border: none;
    flex-direction: column;
}

.partie-droite .nav-bar1 {
    display: block;
    border-color: #00000049;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    margin: 10px 0px;
}

.partie-droite .nav-bar2 {
    display: block;
    margin: 10px 0px;
}

.partie-droite .lien {
    list-style: none;
    padding-top: 3px;
    padding-bottom: 3px;
    align-items: flex-start;
}

.partie-droite .lien .compte {
    color: #5F6593;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
}

.partie-droite .lien .compte .icon {
    padding-right: 10px;
}

.partie-droite .lien .actif {
    cursor: pointer;
    color: #1F234E;
    padding-top: 3px;
    padding-bottom: 3px;
}

.partie-droite .lien:hover {
    cursor: pointer;
    background-color: #219dbc4b;
    border: none;
    border-radius: 10px;
}


/* partie du milieu*/

.partie-milieu {
    font-family: Open Sans, sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    top: 70px;
    width: 70%;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 60px;
}

.partie-milieu h3 {
    margin-top: 55px;
    color: #0c48a1;
    align-items: left;
    Vertical-align: Center;
    margin-bottom: 5px;
}

.partie-milieu p {
    color: #5F6593;
    font-size: 12px;
}

.content-marche {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-right: 50px;
}

.btn-contain {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.partie-milieu .btn-contain {
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 15px;
    align-items: center;
}

.partie-milieu .btn-contain .nouveau button {
    border-style: none;
    border-radius: 10px;
    background-color: #1F234E;
    transition: 100ms ease-in;
    border: none;
    text-align: center;
    padding: 0px 15px;
}

.partie-milieu .btn-contain .nouveau button p {
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.partie-milieu .btn-contain .nouveau button:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
}

.partie-milieu .btn-contain .nouveau button:focus {
    outline: none;
    cursor: pointer;
}

.partie-milieu .btn-contain .nouveau button:hover {
    background-color: #1f234ea4;
    border-style: none;
    color: #219ebc;
    border: none;
    cursor: pointer;
}

.partie-milieu .btn-contain .searchbar .example {
    vertical-align: middle;
    align-items: center;
}

.partie-milieu .btn-contain .searchbar .example input {
    height: 25px;
    width: 200px;
    border-color: #1f234e1f;
    border-width: 0.1px;
    background-color: #a3cae521;
    padding-left: 10px;
    outline: none;
}

.partie-milieu .btn-contain .searchbar .example input:active {
    border-color: #1F234E;
    border-width: 0.1px;
}

.partie-milieu .btn-contain .searchbar .example button {
    height: 28px;
    margin-left: -2px;
    border: none;
    color: white;
    background-color: #1F234E;
}

.partie-milieu .titre-nouveau {
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 15px;
    border-bottom-color: #0000001e;
    border-bottom-width: 0.1px;
    border-bottom-style: solid;
}

.partie-milieu .titre-nouveau .titresec {
    color: #1F234E;
    font-size: 14.5px;
    font-weight: bold;
}

.partie-milieu .titre-nouveau .tri {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.partie-milieu .titre-nouveau .tri .icon {
    padding-left: 5px;
}

.partie-milieu .titre-nouveau .tri p {
    font-size: 13px;
    font-weight: bold;
}

.partie-milieu .content-marche .titles {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom-color: #0000001e;
    border-bottom-width: 0.1px;
    border-bottom-style: solid;
}

.partie-milieu .content-marche .titles span {
    font-size: 13px;
    margin: 10px 0px;
    font-weight: bold;
    padding: 0% 2.5%;
    color: #8c93b5;
    border-right-color: #0000001e;
    border-right-width: 0.1px;
    border-right-style: solid;
    width: 150px;
}

.partie-milieu .content-marche .titles .final {
    border: none;
}


/* petit menu à gauche */

.profilemenu {
    position: absolute;
    top: 58px;
    right: 4.5%;
    width: 200px;
    height: 50vh;
    background-color: #e9f3fa;
    border-radius: 3px;
}

.profilemenu::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 6%;
    width: 20px;
    height: 20px;
    background-color: #e9f3fa;
    transform: rotate(45deg);
}

.profilemenu .profile {
    border-bottom: #0000003a;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    padding-bottom: 10%;
}

.profilemenu .profile .info {
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 3px;
    border-bottom-style: solid;
    border-bottom-width: 0.1px;
    border-color: #1f234e1f;
}

.profilemenu .profile .info .userinfo {
    color: #1F234E;
    font-size: 13px;
    font-family: Open Sans, sans-serif;
}

.profilemenu .profile .avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 30px;
    cursor: pointer;
}

.profilemenu .profile .lien {
    margin-top: 10px;
    justify-content: flex-start;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 13px;
    font-family: Open Sans, sans-serif;
    color: #1F234E;
}

.profilemenu .profile a {
    text-decoration: none;
    padding-left: 5%;
    color: #1F234E;
    font-weight: bold;
}

.profilemenu .profile .lien:hover {
    background-color: #219dbc4b;
}

.marche-dossier {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    border-bottom-color: #0000001e;
    border-bottom-width: 0.1px;
    border-bottom-style: solid;
    font-family: Open Sans, sans-serif;
}
.marche-dossier span {
    width: 150px;
}

.num-dossier a {
    text-decoration: none;
    color: #0c48a1;
}

.date-dossier {
    font-size: 13px;
    font-weight: bold;
    color: #0c48a1;
    padding: 0% 2.5%;
}

/* .form {
    border: #EE66D8;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    padding: 4px 5px; 
} */

.form a {
    text-decoration: none;
    color: #0c48a1;
}

.progress {
    background-color: #d8d8d8;
    border-radius: 10px;
    margin: 15px 0;
    height: 15px;
    width: 120px;
}

.progress-done {
    background: linear-gradient(to left, #24e91d, #c0f270);
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1.7s ease 0.3s;
}

.over {
    background: linear-gradient(to left, #e94d1d, #f2af70);
}


/* trie menu*/

.list-tri {
    position: absolute;
    width: 170px;
    background-color: #e9f3fa;
    list-style: none;
    font-weight: bold;
    font-size: 13px;
    color: #5F6593;
    padding: 5px 10px;
    margin-top: -10px;
    font-family: Open Sans, sans-serif;
    right: 60px;
}

.list-tri .item-tri {
    padding: 5px 5px;
    border-bottom-color: #0000001e;
    border-bottom-width: 0.1px;
    border-bottom-style: solid;
}

.list-tri .item-tri:hover {
    cursor: pointer;
}

.list-tri::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 3%;
    width: 20px;
    height: 20px;
    background-color: #e9f3fa;
    transform: rotate(45deg);
}